body{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav-brit{
    background-color: darkblue;
    width: 100%;
}
.nav-brit-list{
    display: flex;
    justify-content: space-around;
    list-style: none;
    color: white;
    margin: 0;
    padding: 10px;
    
}
.logo-brit{
    width: 150px;
}
.btn-sub{
    background-color: red;
    color: white;
    border-radius: 10px;
}
.nav-sub{
    margin: 10px 0 10px 10px;
    display: flex;
    justify-content: left ;
    align-items: flex-start;
    gap: 15px;
}
.container{
    border-style: groove;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    margin: 15px;
    padding: 10px;
    max-width: 800px;
    min-width: 300px;
    
}

.container-headline{
    display: flex;
    flex-direction: column;
    align-items: flex-start
}

.list-buttons{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 5px ;
    left: 0px;
}
.button{
   color: blue;
   background-color: white;
   border-color: blue;
   border-radius: 10px;
}
.text-under-buttons{
    font-size: 70%;
}
.profile{
    border-style: groove;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
    width: 60%;
}
.pic-and-text{
    flex-direction: column;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.pic-and-text img{
    width: 150px;

}
.bio-list{
    list-style: none;
    display: flex;
    flex-direction: column;
}
.bio{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
   
}

.btn-related{
    background-color: white;
    color: blue;
    border-radius: 10px;
    border-color: blue;
    border-style: groove;

}
.fa-solid{
    margin-right: 10px;
}
